{{#if noid}}
<nav class="navbar">
<div class="container">
	<div class="masthead">
        <nav>
        <ul class="nav nav-justified">
         	<li><a href="/">Home</a></li>
           	<li><a href="/login">Login</a></li>
           	<li><a href="/register">Register</a></li>
           	<li><a href="/search">Search</a></li>
       	</ul>
       	</nav>
	</div>
	</div>
</nav>
<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
          <div class="jumbotron">
          <center>
          <h1>Welcome to Wine Not!</h1>
          	<img src="images/head.gif" alt="header">
          	 <p><Br>There's so much shit out there, let us help you find the boozy goodness you're looking for!</p>
          	</center>
          </div>
          <div class="row">
          {{#each wine}}
            <div class="col-xs-6 col-lg-4">
              <h3>{{this.brand}}: {{this.name}}</h3>
              <p>This is a {{this.year}}, {{this.type}} from {{this.brand}} called "{{this.name}}". It's {{#each this.sweetness}}{{this}} and {{/each}}perfect for a casual night in or a formal dinner party.</p>
              <p><a class="btn btn-default" href="/{{this.slug}}" role="button">About this wine &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
          {{/each}}
            <div class="col-xs-6 col-lg-4">
              <br><br>
              <p><a href="https://twitter.com/WineNotDB" class="twitter-follow-button" data-show-count="false">Follow @WineNotDB</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
             <br>Follow us on Twitter for updates!</p>
            </div><!--/.col-xs-6.col-lg-4-->
          </div><!--/row-->
</div>
<div class="container"><br><center><p><a class="btn btn-lg btn-default" href="/register" role="button">Register with us for....<br>MORE WINE!</a></p></center></div>
{{/if}}



{{#if id}}
<div class="container">
	<div class="masthead">
        <nav>
        <ul class="nav nav-justified">
         	<li><a href="/">Home</a></li>
         	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Magical Wine DB<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/allthewine">All the Wine</a></li>
                <li><a href="/addawine">Add a Wine</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Personal</li>
                <li><a href="/suggested">Suggested Wines</a></li>
              </ul>
            </li>
           	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personal Wine Lists<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/favorites">Favorites</a></li>
                <li><a href="/try_these">Try These!</a></li>
                <li><a href="/never_again">Never Again</a></li>
              </ul>
            </li>
           	<li><a href="/preferences">Preferences</a></li>
           	<li><a href="/search">Search</a></li>
           	<li><a href="/logout">Logout</a></li>
       	</ul>
       	</nav>
	</div>
</div>
<div class="container"><br></div>
<div class="container">
<div class="row row-offcanvas row-offcanvas-right">
          <div class="jumbotron">
          <center>
          <h1>Welcome, {{session}}!</h1>
            <img src="images/head2.gif" alt="header">
             <p><Br>We found some boozy goodness you might be interested in, in our endless wisdom and knowledge of wine!</p>
            </center>
          </div>
          <div class="row">
            {{#each wine}}
            <div class="col-xs-6 col-lg-4">
              <h3>{{this.brand}}: {{this.name}}</h3>
              <p>This is a {{this.year}}, {{this.type}} from {{this.brand}} called "{{this.name}}". It's {{#each this.sweetness}}{{this}} and {{/each}}perfect for a casual night in or a formal dinner party.</p>
              <p><a class="btn btn-default" href="/{{this.slug}}" role="button">About this wine &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
          {{/each}}
          </div><!--/row-->
</div>
{{/if}}